body {
    display: flex;
    align-items: center;
    flex-flow: column;
    min-height: 100vh;
    margin: 0px;
    justify-content: flex-start;
    /* background-color: darkslateblue; */
    background-image: url('images/back.jpg');
}

.hide {
    display: none;
}

.rss-container{
    display: flex;
    flex-flow: column;
    width: 30%;
    padding: 10px;
    height: 400px;

    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

#rss{
    display: flex;
    background-color: rgba(255,255,255,0.55);
    border-color: gainsboro;
    flex-flow: column;
    overflow: auto;
}

.rss-item{
    border-style: solid;
    border-width: 1px;
    padding: 5px;

}

.tile-container {
    /* width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: flex-start;
    padding: 18px; */
}

#tile{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 10px;
}

.tile-item{
    border-color: gainsboro;
    width: 160px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    background-color: rgba(255,255,255,0.25);
}

.tile-item:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px black;
}

.tile-item a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-overflow: ellipsis;
}

.tile-item{
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}